:host(app-login, app-register) {
    margin: 0 auto;
    padding: 24px 0;
}

form a {
    display: inline-block;
    color: var(--primary-color);
    font-size: 14px;
}

button {
    background: var(--primary-color);
    border: none;
    color: #FFFFFF;
    margin: 24px 0 0 0;
    width: calc(100% - 2px);
    line-height: 30px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

p {
    color: var(--secondary-text);
}

button:disabled {
    cursor: default;
    opacity: .5;
}

form h2 {
    color: var(--primary-color);
    margin: 0 0 24px 0;
}

/* INPUT FIELDS */
.field {
    position: relative;
    margin: 0 0 16px 0;
}

input {
    line-height: 24px;
    border: solid 1px #A4A4A4;
    width: calc(100% - 2px);
    text-indent: 8px;
    border-radius: 4px;
}

label {
    position: absolute;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    padding: 0 4px;
    transition: all .1s ease;
    color: #A4A4A4;
    font-size: 14px;
    cursor: pointer;
}


input:focus, input.active {
    border: solid 1px var(--dark-primary-color);
}

input:focus ~ label, label.active {
    font-size: 12px;
    top: -10px;
    color: var(--dark-primary-color);
}

input.error {
    border: solid 1px #c62828;
}

label.error {
    color: #c62828 !important;
}

.error {
    min-height: 18px;
}

.error p {
    margin: 0;
    font-size: 12px;
    color: #c62828;
}


@media screen and (max-width: 430px) {
    form h2 {
        text-align: center;
    }
}
