/* You can add global styles to this file, and also import other style files */
:root {
  --dark-primary-color: #303F9F;
  --light-primary-color: #C5CAE9;
  --ultra-light-primary-color: #E8EAF6;
  --primary-color: #3F51B5;
  --text-icons: #FFFFFF;
  --accent-color: #009688;
  --light-accent-color: #B2DFDB;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;
  --error-color: #C62828;
}

@font-face {
  font-family: "quicksand bold";
  src: url("assets/fonts/quicksand-bold.ttf");
  font-display: auto;
}

@font-face {
  font-family: "quicksand medium";
  src: url("assets/fonts/quicksand-medium.ttf");
  font-display: auto;
}

@font-face {
  font-family: "quicksand light";
  src: url("assets/fonts/quicksand-light.ttf");
  font-display: auto;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "quicksand medium", serif;
  font-size: 16px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a, button, form, input {
  display: block;
  outline: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1, h2 {
  letter-spacing: 2px;
}

h3, h4 {
  letter-spacing: 1px;
}

.inner {
  width: calc(100% - 32px);
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 0;
}

footer {
  color: var(--secondary-text);
}

footer .inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

footer.first {
  background: var(--light-primary-color);
}

footer.first .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

footer.first .social {
  display: flex;
}

footer.first .social li {
  width: 45px;
  line-height: 45px;
  text-align: center;
  background: #FFFFFF;
  margin: 0 0 0 16px;
  color: var(--light-primary-color);
  border-radius: 4px;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.05);
  transition: all .3s ease;
}

footer.first .social li:hover {
  color: var(--primary-color);
}

footer.first .social li i {
  margin: 0;
}

footer a {
  color: var(--secondary-text);
  text-decoration: none;
  margin: 0 200px 0 0;
}

footer H1 {
  font-size: 24px;
  font-family: "quicksand bold", serif;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
}

footer ul li .svg-icon {
  margin: 0 12px 0 0;
}

footer ul li a {
  display: inline-block;
  color: var(--primary-color);
}

@media screen and (max-width: 525px) {
  footer .inner ul, footer .inner p, footer .inner .privacy {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  footer .inner p, footer .inner a {
    width: 50%;
    text-align: center;
  }

  footer.first .inner a {
    width: auto;
  }

  footer.first .inner svg {
    margin: 24px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  footer a {
    margin: 0;
  }
}

@media screen and (max-width: 530px) {
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  footer .inner p, footer .inner a {
  width: 100%;
}

  footer svg {
  margin: 0 auto;
}
}

