header  {
    background: transparent;
    color: var(--light-primary-color);
}

header.colored {
    background: var(--dark-primary-color);
}

header ul {
    display: flex;
    padding: 0;
    margin: 0;
}

header ul li {
    list-style: none;
    margin: 0 0 0 16px;
    cursor: pointer;
}

header a {
    color: var(--light-primary-color);
    text-decoration: none;
}

header a:hover, header span:hover {
    color: var(--text-icons);
}

header h1 {
    font-family: "quicksand bold", serif;
    font-size: 20px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
