<header [ngClass]="{'colored': router.url !== '/'}">
    <div class="inner">
        <a href="#" routerLink="/">
            <h1 class="logo">
                <span>{{'{ }'}}</span>
                DEMO APP
            </h1>
        </a>
        <ul>
            <ng-template [ngIf]="router.url === '/'">
                <li><a href="#" routerLink="/security/login">Entrar</a></li>
            </ng-template>
            <li>
                <span>ES</span> | <span>EN</span>
            </li>
        </ul>
    </div>
</header>
