.container {
    background: url("../../assets/images/background.jpg") no-repeat center;
    background-size: cover;
}

.inner-container {
    min-height: calc(100vh - 249px);
    background: rgba(145,145,145,.5);
    padding: 100px 0 24px 0;
    display: block;
}

.security {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: calc(100% - 32px);
    background: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
}

.security .svg-icon {
    height: 275px;
    width: 120px;
    padding: 48px 75px;
    text-align: center;
    background: var(--accent-color);
    font-size: 125px;
    margin: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.security .inner {
    padding: 16px;
    width: calc(100% - 32px);
    max-width: 320px;
}

@media screen and (max-width: 600px) {
    .security {
        display: block;
    }

    .security .svg-icon {
        display: none;
    }

    .security .inner {
        width: auto;
        margin: 0 auto;
    }

}
