<div class="container">
    <app-header></app-header>
    <div class="inner-container">
        <div class="security">
            <fa-icon [icon]="faUserSecret" class="svg-icon"></fa-icon>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
