<form [formGroup]="registerForm" name="register" autocomplete="off" (ngSubmit)="submit()">
    <h2>Registro</h2>

    <div class="field">
        <input formControlName="name" type="text" id="name" name="name" title="name"
               [ngClass]="{'active': form.name.value, 'error': form.name.invalid && (form.name.dirty || form.name.touched)}">
        <label [ngClass]="{'active': form.name.value, 'error': form.name.invalid && (form.name.dirty || form.name.touched)}" for="name">
            Nombre completo
        </label>
        <div class="error">
            <p *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
                <span *ngIf="form.name.errors.required">Este campo es requerido</span>
                <span *ngIf="form.name.errors.minlength">Debe tener al menos 4 caracteres</span>
            </p>
        </div>
    </div>

    <div class="field">
        <input type="email" id="email" formControlName="email"
               [ngClass]="{'active': form.email.value, 'error': form.email.invalid && (form.email.dirty || form.email.touched)}">
        <label [ngClass]="{'active': form.email.value, 'error': form.email.invalid && (form.email.dirty || form.email.touched)}"
               for="email">Correo electronico</label>
        <div class="error" >
            <p *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)">
                <span *ngIf="form.email.errors.required">Este campo es requerido</span>
                <span *ngIf="form.email.errors.pattern">Debe ser un formato de correo válido</span>
            </p>
        </div>
    </div>

    <div class="field">
        <input type="password" id="password" formControlName="password"
               [ngClass]="{'active': form.password.value, 'error': form.password.invalid && (form.password.dirty || form.password.touched)}">
        <label [ngClass]="{'active': form.password.value, 'error': form.password.invalid && (form.password.dirty || form.password.touched)}"
               for="password">
            Contraseña
        </label>
        <div class="error">
            <p *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
                <span *ngIf="form.password.errors.required">Este campo es requerido</span>
                <span *ngIf="!form.password.errors.pattern && form.password.errors.minlength">
                    Debe tener al menos 8 caracteres
                </span>
                <span *ngIf="form.password.errors.pattern && form.password.errors.pattern.requiredPattern === '/\\W|_/'">
                    Debe tener al menos un caracter especial
                </span>
                <span *ngIf="form.password.errors.pattern && form.password.errors.pattern.requiredPattern === '/[0-9]/'">
                    Debe tener al menos un número
                </span>
                <span *ngIf="form.password.errors.pattern && form.password.errors.pattern.requiredPattern === '/[a-z]/'">
                    Debe tener al menos una letra
                </span>
            </p>
        </div>
    </div>

    <a href="#" routerLink="/security/login" tabindex="-1">Iniciar sesión</a> |
    <a href="#" routerLink="/security/password/forgot" tabindex="-2">Olvidé mi contraseña</a>
    <button type="submit" [disabled]="!registerForm.valid">Iniciar sesión</button>
</form>
