<form [formGroup]="loginForm" name="login" autocomplete="off" (ngSubmit)="submit()">
    <h2>Iniciar sesión</h2>

    <div class="field">
        <input type="email" id="email" formControlName="email"
               [ngClass]="{'active': form.email.value, 'error': form.email.invalid && (form.email.dirty || form.email.touched)}">
        <label [ngClass]="{'active': form.email.value, 'error': form.email.invalid && (form.email.dirty || form.email.touched)}"
               for="email">Correo electronico</label>
        <div class="error" >
            <p *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)">
                <span *ngIf="form.email.errors.required">Este campo es requerido</span>
                <span *ngIf="form.email.errors.pattern">Debe ser un formato de correo válido</span>
            </p>
        </div>
    </div>

    <div class="field">
        <input type="password" id="password" formControlName="password"
               [ngClass]="{'active': form.password.value, 'error': form.password.invalid && (form.password.dirty || form.password.touched)}">
        <label [ngClass]="{'active': form.password.value, 'error': form.password.invalid && (form.password.dirty || form.password.touched)}"
               for="password">
            Contraseña
        </label>
        <div class="error">
            <p *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
                <span *ngIf="form.password.errors.required">Este campo es requerido</span>
                <span *ngIf="!form.password.errors.pattern && form.password.errors.minlength">
                    Debe tener al menos 8 caracteres
                </span>
            </p>
        </div>
    </div>

    <a href="#" routerLink="/security/register">Registrarme</a> |
    <a href="#" routerLink="/security/password/forgot">Olvidé mi contraseña</a>
    <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
</form>
