.header {
    background-image: -webkit-linear-gradient(135deg, var(--accent-color) 0%, var(--dark-primary-color) 100%);
    min-height: calc(100vh - 145px);
    padding: 0 0 45px 0;
    color: #FFFFFF;
}

.header .content {
    padding: 60px 0 0 0;
    max-width: 1200px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

.header .content h1 {
    font-size: 42px;
    text-align: center;
}

.header .content p {
    margin: 42px 0 0 0;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: var(--text-icons);
}

.header .content img {
    width: 100%;
    max-width: 400px;
    margin: 42px auto 0 auto;
    display: block;
}

.edge .inner {
    width: calc(100% - 32px);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.edge .inner h2 {
    color: var(--accent-color);
    font-size: 18px;
}

.steps {
    background: var(--ultra-light-primary-color);
    padding: 64px 0;
}

.steps .inner, .everywhere .inner {
    max-width: 1200px;
    width: calc(100% - 32px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps .list {
    max-width: 720px;
}

.steps img {
    width: 340px;
}

.steps .element {
    padding: 32px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px var(--light-primary-color);
}

.steps .element span {
    width: 100px;
    margin: 0 24px 0 0;
    text-align: center;
    line-height: 100px;
    font-size: 42px;
    background: #FFFFFF;
    color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.07);
    transition: color .3s ease;
}



.steps .element span:hover {
    color: #FFFFFF
    background var(--primary-color);
}


.steps .element div {
    width: calc(100% - 124px);
}

.steps .element div h3 {
    color: var(--accent-color);
    margin: 0 0 16px 0;
    font-weight: 100;
}


.steps .element div p {
    color: var(--secondary-text);
    line-height: 21px;
}

.everywhere {
    padding: 82px 0;
}

.everywhere .inner {
    justify-content: center;
    align-items: center;
}

.everywhere img {
    max-width: 425px;
}

.everywhere .inner div {
    margin: 0 0 0 75px;
}

.everywhere .inner .svg-icon {
    padding: 18px;
    font-size: 62px;
    color: var(--primary-color);
    box-shadow: 0 0 46px 0 rgba(6,30,83,.14);
    border-radius: 4px;
    margin: 65px 0 0 0;
}

.everywhere .inner h2 {
    color: var(--accent-color);
    font-weight: 100;
    font-size: 32px;
    margin: 0 0 16px 0;
}

.everywhere .inner p {
    color: var(--secondary-text);
    font-size: 18px;
}

.instructions {
    padding: 64px 0;
    background: var(--ultra-light-primary-color);
}


.instructions .inner {
    max-width: 1000px;
    width: calc(100% - 32px);
    margin: 0 auto;
}


.instructions p {
    color: var(--secondary-text);
    text-align: center;
}

.instructions h2 {
    color: var(--accent-color);
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
}

.instructions ul {
    width: 100%;
    margin: 42px auto 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.instructions ul li {
    width: calc(32% - 36px);
    padding: 24px;
    list-style: none;
    text-align: center;
    background: var(--light-primary-color);
    margin: 0;
    color: var(--primary-color);
    font-family: "quicksand medium", serif;
    font-size: 18px;
    border-radius: 4px;
    cursor: default;
}

.instructions ul li.active {
    color: var(--dark-primary-color);
    background: #FFFFFF;
    border-top: 4px solid;
}

.instructions .info {
    width: calc(100% - 64px);
    padding: 58px 32px;
    margin: 4px auto 0 auto;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 4px;
}

.instructions .info .svg-icon {
    color: var(--light-accent-color);
    font-size: 182px;
    margin: 0 68px 0 0;
}

.instructions .info h3 {
    color: var(--dark-primary-color);
    font-family: "quicksand light", serif;
    font-weight: 100;
    font-size: 38px;
}

.instructions .info p {
    margin: 32px 0 0;
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
}

/* TABLETS */
@media screen and (max-width: 768px) {
    .header .content p {
        text-align: justify;
    }

    .steps .inner, .everywhere .inner, .instructions .info {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .everywhere .inner div {
        text-align: center;
        margin: 0;
    }

    .everywhere .inner i, .everywhere .inner img {
        margin: 34px 0 0 0;
    }

    .everywhere .inner img {
        width: 215px;
    }


    .instructions .info h3 {
        text-align: center;
    }


    .instructions .info i {
        margin: 42px 0 0 0;
    }
}


@media screen and (max-width: 425px) {
    .steps .element div {
        margin: 24px 0 0 0;
        text-align: center;
        width: 100%;
    }

    .steps .element p {
        text-align: justify;
    }

    .steps .element {
        justify-content: center;
    }

    .steps .element span {
        margin: 0;
    }

    .steps img {
        width: 260px;
    }

    .instructions ul li {
        width: calc(32% - 29px);
        padding: 16px;
        font-size: 16px;
    }

    .instructions .info h3 {
        font-size: 28px;
    }

    header .responsive {
        display: block;
    }

    header a {
        width: 60px !important;
    }

    header .full {
        display: none;
    }

    header ul li.link {
        margin: 0;
    }

    header ul li.social {
        display: none;
    }
}
