
<div class="home">
    <section class="header">
        <app-header></app-header>
        <div class="content">
            <h1>DEMO APP</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at hendrerit libero. Donec eu suscipit lacus. Nullam eget mauris et quam facilisis vestibulum. Nunc imperdiet commodo metus, eget vehicula ipsum ultricies quis. Vestibulum ac faucibus ligula. Donec et mollis odio, egestas posuere mi.</p>
            <img src="../../assets/images/home_img.png" alt="Header_img">
        </div>
    </section>

    <section class="edge">
        <div class="inner">
            <h2>REGISTRATE</h2>
            <h2>COMPARTE</h2>
            <h2>PRUEBA</h2>
        </div>
    </section>

    <section class="steps">
        <div class="inner">
            <div class="list">
                <div class="element">
                    <span>1</span>
                    <div>
                        <h3>Crea tu cuenta</h3>
                        <p>
                            Suspendisse commodo varius hendrerit. Cras nec lobortis sem. Nulla facilisi. Duis vehicula tortor non purus ullamcorper, commodo bibendum odio porttitor.
                        </p>
                    </div>
                </div>

                <div class="element">
                    <span>2</span>
                    <div>
                        <h3>Comparte con tus amigos</h3>
                        <p>Suspendisse commodo varius hendrerit. Cras nec lobortis sem. Nulla facilisi. Duis vehicula tortor non purus ullamcorper, commodo bibendum odio porttitor.</p>
                    </div>
                </div>

                <div class="element">
                    <span>3</span>
                    <div>
                        <h3>Prueba el app</h3>
                        <p>Suspendisse commodo varius hendrerit. Cras nec lobortis sem. Nulla facilisi. Duis vehicula tortor non purus ullamcorper, commodo bibendum odio porttitor.</p>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/home_img.png" alt="header_img">
        </div>
    </section>

    <section class="everywhere">
        <div class="inner">
            <img src="../../assets/images/phone.png" alt="pwa_img">
            <div>
                <h2>Llevanos contigo siempre</h2>
                <p>Agrega nuestra web a tu pantalla de inicio y no te pierdas de nada, estés donde estés.</p>
                <fa-icon [icon]="faCompass" class="svg-icon"></fa-icon>
            </div>
        </div>
    </section>

    <section class="instructions">
        <div class="inner">
            <p>¿CÓMO FUNCIONA?</p>
            <h2>PRUEBA EL APP</h2>
            <ul>
                <li (click)="instructions = 1" [ngClass]="{'active': instructions === 1}">Registrate</li>
                <li (click)="instructions = 2" [ngClass]="{'active': instructions === 2}">Comparte</li>
                <li (click)="instructions = 3" [ngClass]="{'active': instructions === 3}">Prueba el app</li>
            </ul>

            <ng-template [ngIf]="instructions === 1">
                <div class="info">
                    <fa-icon [icon]="faSignInAlt" class="svg-icon"></fa-icon>
                    <div class="description">
                        <h3>Registrate</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue condimentum mollis. Vestibulum mi nunc, vulputate ut pulvinar sed, aliquet vitae nunc. Mauris eget metus vitae sem congue dignissim. Aenean at ultricies ante, nec sodales quam. Sed vitae lacus nec purus suscipit efficitur sed id dolor. Nullam at nisl ut mauris posuere rhoncus et eget tortor.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue condimentum mollis. Vestibulum mi nunc, vulputate ut pulvinar sed, aliquet vitae nunc. Mauris eget metus vitae sem congue dignissim. Aenean at ultricies ante, nec sodales quam. Sed vitae lacus nec purus suscipit efficitur sed id dolor. Nullam at nisl ut mauris posuere rhoncus et eget tortor.</p>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="instructions === 2">
                <div class="info">
                    <fa-icon [icon]="faShare" class="svg-icon"></fa-icon>
                    <div class="description">
                        <h3>Comparte</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue condimentum mollis. Vestibulum mi nunc, vulputate ut pulvinar sed, aliquet vitae nunc. Mauris eget metus vitae sem congue dignissim. Aenean at ultricies ante, nec sodales quam. Sed vitae lacus nec purus suscipit efficitur sed id dolor. Nullam at nisl ut mauris posuere rhoncus et eget tortor.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue condimentum mollis. Vestibulum mi nunc, vulputate ut pulvinar sed, aliquet vitae nunc. Mauris eget metus vitae sem congue dignissim. Aenean at ultricies ante, nec sodales quam. Sed vitae lacus nec purus suscipit efficitur sed id dolor. Nullam at nisl ut mauris posuere rhoncus et eget tortor.</p>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="instructions === 3">
                <div class="info">
                    <fa-icon [icon]="faMedal" class="svg-icon"></fa-icon>
                    <div class="description">
                        <h3>Prueba el app</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue condimentum mollis. Vestibulum mi nunc, vulputate ut pulvinar sed, aliquet vitae nunc. Mauris eget metus vitae sem congue dignissim. Aenean at ultricies ante, nec sodales quam. Sed vitae lacus nec purus suscipit efficitur sed id dolor. Nullam at nisl ut mauris posuere rhoncus et eget tortor.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue condimentum mollis. Vestibulum mi nunc, vulputate ut pulvinar sed, aliquet vitae nunc. Mauris eget metus vitae sem congue dignissim. Aenean at ultricies ante, nec sodales quam. Sed vitae lacus nec purus suscipit efficitur sed id dolor. Nullam at nisl ut mauris posuere rhoncus et eget tortor.</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </section>

    <footer class="first">
        <div class="inner">
            <ul>
                <li>
                    <fa-icon [icon]="faMapMarkerAlt" class="svg-icon"></fa-icon>
                    Guadalajara, Jal. México
                </li>
                <li>
                    <fa-icon [icon]="faEnvelope" class="svg-icon"></fa-icon>
                    <a href="mailto:julio.rocha.garcia@gmail.com">
                        julio.rocha.garcia@gmail.com
                    </a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <fa-icon [icon]="faFacebookF"></fa-icon>
                </li>
                <li>
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </li>
                <li>
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </li>
            </ul>
        </div>
    </footer>
</div>
